:root{
    --btn-shadow: #343c6b;
    --border-color: #0b0b2e;
}

*{
    box-sizing: border-box;
}
a{
    color: #d4d4d4;
    text-decoration: none;
}

body{
    background: rgb(155,175,203);
    background: radial-gradient(circle, rgba(155,175,203,1) 0%, rgba(5,42,108,1) 100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calculator{
    display: grid;
    width: 320px;
    height: 520px;
    background-color: #0b0b2e;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(4, auto);
    text-align: center;
    padding: 16px 8px;
    border-radius: 12px;
    border: 1px solid #999;
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.507);
}
.display{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: rgb(255, 255, 255);
    height: 100px;
    
    /* margin-bottom: 3px; */
    background-position: center;
    border-style: outset;
    border-width: 3px;
    border-color: var(--border-color);
     font-family: "VT323", monospace;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-align: left;
    line-height: 100PX; 
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0, 0, 0.5), inset 0 0 8px rgba(26, 25, 25, 0.5);
    
}
.btn{
    background-color: rgb(2, 54, 97);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    color: rgb(253, 253, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.25s;
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--btn-shadow), inset 0 2px 0 var(--btn-shadow);
}
.btn:active{
    position: relative;
    top: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
}

.btn:hover{
    transform: scale(1.1);
}

.span-two{
    grid-column-start:1 ;
    grid-column-end:3 ;
}

.enter{
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
    background-color: #5810a0;
    color: aliceblue;}

    .gray{
        background-color: #382c5c;
        color: aliceblue    ;
    }

    .dot{
        /* font-size: 4rem; */
        box-sizing: border-box;
    }

    footer{
        position: absolute;
        bottom: 0px;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'Roboto Serif';
    }